{% extends "mymap/main.html" %}

{% block main %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Головна</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'changes' %}">Внести зміни</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
{% endblock %}

{% block action %}
    {% url 'changes' %}
{% endblock %}

{% block filter %}
    <div id=MyButtons class="buttons-container float-left">
        <button onclick="hideFilter()" class="btn btn-light btn-sm">
            <img id="mapImage" class="img-fluid" width="32" height="32" src="/static/images/zoom-out.svg" alt="Submit"
                 data-toggle="tooltip"
                 title="Приховати фільтр">
        </button>
        {% if results %}
            <form action="{% url 'download_data' %}" method="post">
                {% csrf_token %}
                {% for result in results %}
                    <input type="hidden" name="results" value="{{ result }}">
                {% endfor %}
                <button type="submit" class="btn btn-light btn-sm">
                    <img class="img-fluid" width="32" height="32" src="/static/images/image_2023.png"
                         alt="Submit" data-toggle="tooltip"
                         title="Завантажити XLSX-файл">
                </button>
            </form>
        {% else %}
            <button type="submit" onclick="downData()" class="btn btn-light btn-sm">
                <img class="img-fluid" width="32" height="32" src="/static/images/image_2023.png"
                     alt="Submit" data-toggle="tooltip"
                     title="Завантажити XLSX-файл">
            </button>
        {% endif %}
        <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#createModal">
            <span class="material-symbols-outlined">add</span>
        </button>
    </div>
{% endblock %}

{% block button %}
    <button onclick="hideFilter()" class="btn btn-light btn-sm">
        <img id="mapImage" class="img-fluid" width="32" height="32" src="/static/images/zoom-in.svg" alt="Submit"
             data-toggle="tooltip"
             title="Показати фільтр">
    </button>
    <br>
    {% if results %}
        <form action="{% url 'download_data' %}" method="post">
            {% csrf_token %}
            {% for result in results %}
                <input type="hidden" name="results" value="{{ result }}">
            {% endfor %}
            <button type="submit" class="btn btn-light btn-sm">
                <img class="img-fluid" width="32" height="32" src="/static/images/image_2023.png"
                     alt="Submit" data-toggle="tooltip"
                     title="Завантажити XLSX-файл">
            </button>
        </form>
    {% else %}
        <button type="submit" onclick="downData()" class="btn btn-light btn-sm">
            <img class="img-fluid" width="32" height="32" src="/static/images/image_2023.png"
                 alt="Submit" data-toggle="tooltip"
                 title="Завантажити XLSX-файл">
        </button>
        <br>
    {% endif %}
    <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#createModal">
        <span class="material-symbols-outlined">add</span>
    </button>
{% endblock %}

{% block maps %}
    <div id="table" style="max-height: 700px; overflow: auto; margin-right: 50px; margin-left: -50px">
        <table class="table table-hover">
            <thead class="sticky-top" style="background-color: rgb(236,240,245);">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Назва</th>
                <th scope="col">ЕРДПОУ</th>
                <th scope="col">Адреса</th>
                <th scope="col">Місто</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            {% if not results %}
                <tr>
                    <td colspan="9">Оберіть фільтр</td>
                </tr>
            {% else %}
                {% for item in results %}
                    <tr>
                        <td>{{ item.0 }}
                            <br>
                            <button type="button" class="badge rounded-pill bg-secondary open-modal"
                                    data-item0="{{ item.0 }}"
                                    data-item1="{{ item.1 }}"
                                    data-item2="{{ item.2 }}"
                                    data-item3="{{ item.3 }}"
                                    data-item4="{{ item.4 }}"
                                    data-item5="{{ item.5 }}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                    @click="openModal"
                                    style="font-size: 0.55rem;">
                                Редагувати
                            </button>
                        </td>
                        <td>{{ item.1 }}</td>
                        <td>{{ item.2 }}</td>
                        <td>{{ item.3 }}</td>
                        <td>{{ item.4 }}</td>
                        <td>{{ item.5 }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="9">Немає даних, що задовольняють фільтру</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Вікно Редагування</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">Home
                        </button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile
                        </button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact
                        </button>
                    </div>
                </nav>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h5 class="lead ml-3" id="modalNumber">{{ item.0 }}</h5>
                        <input type="hidden" id="item_0" name="item_0" class="form-control" value=""
                               autocomplete="off">

                        <label for="item_1">Назва:</label>
                        <input type="text" id="item_1" name="item_1" class="form-control" value=""
                               autocomplete="off">

                        <label for="item_2">ЕРДПОУ:</label>
                        <input type="text" id="item_2" name="item_2" class="form-control" value=""
                               autocomplete="off">

                        <label for="item_3">Адреса:</label>
                        <input type="text" id="item_3" name="item_3" class="form-control" value=""
                               autocomplete="off">

                        <label for="item_4">Місто:</label>
                        <input type="text" id="item_4" name="item_4" class="form-control" value=""
                               autocomplete="off">

                        <label for="item_5">Статус:</label>
                        <input type="text" id="item_5" name="item_5" class="form-control" value=""
                               autocomplete="off">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                        <button type="button" class="btn btn-primary">Редагувати</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Текст</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function downData() {
            alert("Немає даних для вивантаження")
        }

        $(document).on('click', '.open-modal', function openModal(event) {
            // Получение данных из data-item атрибутов кнопки
            let item0 = $(event.target).data('item0');
            let item1 = $(event.target).data('item1');
            let item2 = $(event.target).data('item2');
            let item3 = $(event.target).data('item3');
            let item4 = $(event.target).data('item4');
            let item5 = $(event.target).data('item5');

            let results = [item0, item1, item2, item3, item4, item5];
            populateModal(results)
            $('#exampleModal').modal('show');
        });

        // Заполнение полей модального окна данными из строк
        function populateModal(results) {
            $('#item_0').val(results[0]);
            $('#item_1').val(results[1]);
            $('#item_2').val(results[2]);
            $('#item_3').val(results[3]);
            $('#item_4').val(results[4]);
            $('#item_5').val(results[5]);

            let modalNumber = results[0];
            document.getElementById('modalNumber').innerText = 'ID Аптеки: ' + modalNumber;
        }
    </script>

{% endblock %}




