{% extends "mymap/main.html" %}

{% block main %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Головна</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'changes' %}">Внести зміни</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
{% endblock %}

{% block action %}
    {% url 'maps_filter' %}
{% endblock %}

{% block filter %}
    <div id=MyButtons class="buttons-container float-left">
        <button onclick="hideFilter()" class="btn btn-light btn-sm">
            <img id="mapImage" class="img-fluid" width="32" height="32" src="/static/images/zoom-out.svg" alt="Submit"
                 data-toggle="tooltip"
                 title="Приховати фільтр">
        </button>

        <button onclick="hideMaps()" class="btn btn-light btn-sm">
            <img class="img-fluid" width="32" height="32" src="/static/images/maps72040.png" alt="Submit"
                 data-toggle="tooltip"
                 title="Приховати/показати карту">
        </button>

    </div>

{% endblock %}

{% block button %}

    <button onclick="hideFilter()" class="btn btn-light btn-sm">
        <img id="mapImage" class="img-fluid" width="32" height="32" src="/static/images/zoom-in.svg" alt="Submit"
             data-toggle="tooltip"
             title="Показати фільтр">
    </button>
    <br>
    <button onclick="hideMaps()" class="btn btn-light btn-sm">
        <img class="img-fluid" width="32" height="32" src="/static/images/maps72040.png" alt="Submit"
             data-toggle="tooltip"
             title="Приховати/показати карту">
    </button>
{% endblock %}

{% block maps %}
    <!-- Карта, занимает оставшиеся 70% ширины -->
    <div id="map" class="border border rounded bg-light text-dark"
         style="height: 510px; max-width: 1700px; margin-left: -40px; display: block;"></div>
    {% if 'mapsfilter/' in request.path %}
        <div id="table"
             style="max-height: 300px; max-width: 1700px; margin-left: -40px; overflow: auto;">
            <div class="mt-2">
                <table class="table table-hover">
                    <thead class="sticky-top" style="background-color: rgb(236,240,245);">
                    <tr>
                        <th scope="col">Назва</th>
                        <th scope="col">Місто</th>
                        <th scope="col">Фірма</th>
                        <th scope="col">Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in locations %}
                        <tr id="row_{{ forloop.counter }}">
                            <td>{{ item.name }}
                                <br>
                                <button type="button" class="badge rounded-pill bg-secondary open-modal"
                                        data-item0="{{ item.name }}"
                                        data-item1="{{ item.city }}"
                                        data-item2="{{ item.okpo }}"
                                        data-item3="{{ item.status }}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        @click="openModal"
                                        style="font-size: 0.55rem;">
                                    Редагувати
                                </button>
                            </td>
                            <td>{{ item.city }}</td>
                            <td>{{ item.okpo }}</td>
                            <td>{{ item.status }}</td>

                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="9">Немає даних, що задовольняють фільтру</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block script %}
    <script>
        //Вывод данных на карту
        function downData() {
            alert("Немає даних для вивантаження")
        }

        let map = L.map('map').setView([49.00, 31.00], 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        let locations = {{ locations|safe }};


        for (let i = 0; i < locations.length; i++) {
            L.marker([locations[i].latitude, locations[i].longitude]).addTo(map)
                .bindPopup(`<b>${locations[i].name}</b><br>${locations[i].city}<br>${locations[i].okpo}<br>Статус: ${locations[i].status}`);
        }


        //Путешествие по карте, по клику на таблице
        document.addEventListener('DOMContentLoaded', function () {
            // Добавьте обработчик событий для каждой строки таблицы
            {% for item in locations %}
                document.getElementById('row_{{ forloop.counter }}').addEventListener('click', function () {
                    map.setView([{{ item.latitude }}, {{ item.longitude }}], 20); // Центрируйте карту на кликнутых координатах
                });
            {% endfor %}
        });

        $(document).on('click', '.open-modal', function openModal(event) {
            // Получение данных из data-item атрибутов кнопки
            let item0 = $(event.target).data('item0');
            let item1 = $(event.target).data('item1');
            let item2 = $(event.target).data('item2');
            let item3 = $(event.target).data('item3');


            let results = [item0, item1, item2, item3];
            populateModal(results)
            $('#exampleModal').modal('show');
        });

        // Заполнение полей модального окна данными из строк
        function populateModal(results) {
            $('#item_0').val(results[0]);
            $('#item_1').val(results[1]);
            $('#item_2').val(results[2]);
            $('#item_3').val(results[3]);


            let modalNumber = results[0];
            document.getElementById('modalNumber').innerText = 'Аптека: ' + modalNumber;
        }

        //Скрытие карты
        function hideMaps() {
            let mapForm = document.getElementById('map');
            let tableForm = document.getElementById('table');

            if (mapForm.style.display === 'block') {
                mapForm.style.display = 'none';
                tableForm.style.display = 'block';
                tableForm.style.maxHeight = '700px';

            } else {
                mapForm.style.display = 'block';
                tableForm.style.display = 'block';
                tableForm.style.maxHeight = '300px';

            }
        }
    </script>
{% endblock %}


